body {
    background-color: black;
}
.page-holder{
    height: 100%;
    width: auto;
    display: center;
    background-size: cover !important;
    background-color: black;
}

footer {
    line-height: 3;
    font-size: 14px;
    background-color: black;
    margin-top: 220px;
  }

.footer-text {
    text-align: center;
    padding-top: 20px;
    font-weight: 10;
    color: white;
  
  }

.btn-color{ 
    background-color: black;
    border: none;
    color: white;
}

.index{
    width: auto;
    height: 100%;
}

.title{
    text-align: center;
    color: white;  
}

h1{
    font-size: 50px;
    color: white;
    margin-top: 150px;
}

.navbar-nav{
    margin-left: auto;
}

.new-workout{
    justify-content: center;
}