.page-holder{
    height: 100vh;
    width: auto;
    background-size: cover !important;
    /* background-image: url(/assets/images/nazi-zombie.jpg); */
}

footer {
    height: 70px;
    line-height: 3;
    font-size: 14px;
    background-color: black;
  }

.footer-text {
    text-align: center;
    padding-top: 20px;
    font-weight: 100;
    color: white;
  
  }

.btn-color{ 
    background-color: black;
    border: none;
    color: white;
}

.userInput{
    /* display: block;
    margin-right: auto;
    margin-left: auto; */
    position: absolute;
    /* margin:auto; */
}

.index{
    width: 100%;
    height: auto;
}

.title{
    text-align: center;
    color: white;  
}

h1{
    font-size: 50px;
    margin-top: 120px;
    color: white;
    margin-top: 200px;
}

.navbar-nav{
    margin-left: auto;
}

.new-workout{
    justify-content: center;
}